@font-face {
  font-family: "MuseoModerno";
  font-weight: 300;
  src: url("../../fonts/MuseoModerno-Light.ttf");
}
@font-face {
  font-family: "MuseoModerno";
  font-weight: 400;
  src: url("../../fonts/MuseoModerno-Regular.ttf");
}
@font-face {
  font-family: "MuseoModerno";
  font-weight: 500;
  src: url("../../fonts/MuseoModerno-Medium.ttf");
}
@font-face {
  font-family: "MuseoModerno";
  font-weight: 700;
  src: url("../../fonts/MuseoModerno-Bold.ttf");
}