.catalog {
    padding-bottom: 79px;
    &__title {
        color: #0D0D0D;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px;
        text-transform: uppercase;
    }
    &__tabs {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-top: 46px;
        padding-left: 0;
        margin-bottom: 0;
    }
    &__tab {
        width: 223px;
        height: 52px;
        border: 1px solid #D0D0D0;
        color: #6B6B6B;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
        text-transform: uppercase;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 5px 5px 20px $red-btn;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            background-color: $red-btn;
            color: #fff;
            border: none;
        }
    }
    &__part {
        margin-top: 57px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        overflow: hidden;
        width: 303px;
        min-height: 442px;
        border: 2px solid #E8E8E8;
        padding: 20px 18px 20px 23px;
        margin-bottom: 19px;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__title {
            margin-top: 15px;
            color: #0D0D0D;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &__descr {
            margin-top: 15px;
            color: #0D0D0D;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
        &__link {
            margin-top: 10px;
            display: block;
            color: $red-btn;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
            text-decoration-line: underline;
            text-transform: uppercase;
            &:hover {
                color: $red-btn;
            }
        }
        hr {
            margin-top: 17px;
            margin-bottom: 17px;
            color:#E8E8E8;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            color: #555;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 14px;
            text-decoration-line: line-through;
        }
        &__new-price {
            color: #050505;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            margin-top: 2px;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__default {
            width: 50%;
            margin-right: 0;
            transform: translateX(-150%);
            transition: 0.5s all;
            margin-bottom: 0;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0);
            transition: 0.5s all;
            &_active {
                transform: translateX(-100%);
                margin-left: 0;
            }
            ul {
                list-style-type: none;
                padding-left: 15px;
            }
            li {
                position: relative;
                padding-right: 18px;
                margin-bottom: 10px;
                color: #555;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 21px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $red-btn;
                    left: -12px;
                    top: 8px;
                }
            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 18px));
            color: $red-btn;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
            text-decoration-line: underline;
            text-transform: uppercase;
            &:hover {
                color: $red-btn;
            }
        }
    }
}